{extend name="dashboard/list/common" /}
{block name="table"}
<table class="table table-hover">
    <tr>
        {foreach $fields as $field} 
        <th>{$field}</th>
        {/foreach}
        <th>操作</th>
    </tr>
    {foreach $rows as $row}
    <tr>
    <?php foreach(array_keys($fields) as $key) { ?>
    <td>{$row["$key"]}</td>
    <?php } ?>
    <td>
        <a class="btn btn-info btn-sm" href='{:url("dashboard/create","type=prescription")}?rId={$row["id"]}'>接诊</a>
    </td>
    </tr>
    {/foreach}
</table>
{/block}