{extend name="dashboard/edit/common" /}
{block name="form"}
<form role="form" method="post" action='{:url("dashboard/". request()->action(),"type=$type")}'>
    <div class="box-body">

        {if request()->action() eq "update"}
        <div id="input_id" class="form-group">
            <label for="cate_id">编号</label>
            <input class="form-control" name="id" value='{if isset($data)}{$data["id"]}{/if}' >
        </div>
        {/if}

        <div class="form-group">
            <label for="cate_department">住院部科室</label>
            <select class="form-control" name="department" id="department">
                {foreach $depts as $dept}
                <option value="{$dept['id']}">{$dept['name']}</option>
                {/foreach}
            </select>
        </div>

        <div class="form-group">
            <label for="cate_doctor">主治医生</label>
            <select class="form-control" name="doctor" id="doctor">
                {foreach $depts as $dept}
                <optgroup label="{$dept['id']}">
                {foreach $dept["doctor"] as $dr}
                <option value="{$dr['id']}">{$dr['name']}</option>
                {/foreach}
                </optgroup>
                {/foreach}
            </select>
        </div>

        <div class="form-group">
            <label for="cate_room">病房号</label>
            <select class="form-control" name="rId" id="room">
                {foreach $depts as $dept}
                <optgroup label="{$dept['id']}">
                {foreach $dept["inpatient_room"] as $room}
                <option value="{$room['id']}">{$room['id']}</option>
                {/foreach}
                </optgroup>
                {/foreach}
            </select>
        </div>

        <div class="form-group">
            <label for="cate_bed">病床号</label>
            <select class="form-control" name="bId" id="bed">
                {foreach $depts as $dept}
                {foreach $dept["inpatient_room"] as $room}
                <optgroup label="{$room['id']}">
                {foreach $room['inpatient_bed'] as $bed}
                <option value="{$bed['bId']}">{$bed['bId']}</option>
                {/foreach}
                {/foreach}
                </optgroup>
                {/foreach}
            </select>
        </div>

    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" name="action" value="add" class="btn btn-primary">保存</button>
    </div>
</form>
{/block}
{block name="footer"}
<script>
    document.getElementById("input_id").style.display = "none";
</script>
<script>
    // https://gist.github.com/robcowie/2267793
    $.fn.filterGroups = function( options ) {
    var settings = $.extend( {}, options);

    return this.each(function(){

        var $select = $(this);
        // Clone the optgroups to data, then remove them from dom
        $select.data('fg-original-'+settings.groupSelector, $select.find('optgroup').clone()).children('optgroup').remove();

        $(settings.groupSelector).change(function(){
            var $this = $(this);
            var optgroup_label = $this.val();
            var $optgroup =  $select.data('fg-original-'+settings.groupSelector).filter('optgroup[label=' + optgroup_label + ']').clone();
            $select.children('optgroup').remove();
            $select.append($optgroup);
            $select.trigger("change");
        })

    });
    };
    $(function() {
            $('#doctor').filterGroups({groupSelector: '#department', });
            $('#room').filterGroups({groupSelector: '#department', });
            $('#bed').filterGroups({groupSelector: '#room', });
        });
</script>
{/block}